<launch>
  <!-- Khởi chạy Gazebo với một thế giới trống -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
  </include>

  <!-- Xuất static transform từ base_link đến base_footprint -->
  <node
    name="tf_footprint_base1"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 100" />

  <!-- Khởi chạy gazebo_ros để đảm bảo các dịch vụ được khởi tạo -->
  <node
    name="gazebo_ros"
    pkg="gazebo_ros"
    type="gzserver"
    args="--verbose"
    output="screen" />

  <!-- Xuất mô hình robot từ URDF -->
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find cuoiky)/urdf/cuoiky.urdf -urdf -model cuoiky"
    output="screen" />

  <!-- Hiển thị dữ liệu từ camera -->
  <node
    name="camera_view"
    pkg="image_view"
    type="image_view"
    args="image:=/camera1/image_raw"
    output="screen" />

  <!-- Lắng nghe dữ liệu từ IMU -->
  <node name="imu_listener" pkg="rostopic" type="rostopic" args="echo /imu/data" />

</launch>